## Lists, Dictionaries and Sets in Python

## Part 1

### Lists in Python

Sequences in Python are data structures that hold objects in an ordered array. Now, we will work on Lists, the most common sequence data types in Python.

In [3]:
#Example 
lf = ['learning', "Python", 'is fun?', True]
print(lf)

['learning', 'Python', 'is fun?', True]

List can also be created by using list() function.

In [4]:
#Example
l2 = list(("learning", "for", "life", True))
print(l2)

['learning', 'for', 'life', True]

Adding to an existing list

### Question 1

Add 10 to list l3 given above.

[ **Hint:** Use **append**]

In [5]:
lf.append(10)
print(lf)

['learning', 'Python', 'is fun?', True, 10]

Removing from an existing list

### Question 2

Remove 10 from l1.

[ **Hint:** Use **remove**]

In [6]:
lf.remove(10)
print(lf)

['learning', 'Python', 'is fun?', True]

Joining 2 lists

### Question 3

[ **Hint:** Use **+ or extend**]

In [7]:
list_join = lf + l2
list_join

['learning', 'Python', 'is fun?', True, 'learning', 'for', 'life', True]

Number List

### Question 4

Find Range and Mean of l3.

l3 = [2,4,6,8]

[ **Hint: ** Use **len(),sum(), min(), max()** functions ]
 
If you want to use standard functions like mean & range, you have to import them from numpy else you can calculate them the traditional way using formulas

In [ ]:
l3 = [2,4,6,8]
sum(l3)

20

In [ ]:
len(l3)

4

In [ ]:
max(l3)

8

In [ ]:
min(l3)

2

In [ ]:
print('Range:', max(l3) - min(l3))

Range: 6

Count the occurances of an element in a given list.

### Question 5
Append the given sequence of numbers to l3 (given above) 0,1,3,3,5,5,7,9. Count the occurences of 5 in l3.

[ **Hint: ** Use ** + operator to add multiple elements in the array and count() function to print the occurences**]

In [ ]:
my_newlist = [0,1,3,3,5,5,7,9]
my_append = l3 + my_newlist
print('My new list is when I append the given sequence of numbers to l3:' , my_append)
print('The occurence of the number of 5 is:', my_append.count(5))  

# or

#(l3 + [0,1,3,3,5,5,7,9]).count(5)

My new list is when I append the given sequence of numbers to l3: [2, 4, 6, 8, 0, 1, 3, 3, 5, 5, 7, 9]
The occurence of the number of 5 is: 2

Sorting and Reversing a list

### Question 6
sort and print l3 in ascending and descending order sequentially (given above)

**(Hint: Use .sort() function)**

In [ ]:
l3.sort(reverse = False)
l3

[2, 4, 6, 8]

### Functions

**Example:**

**def** function_name(args)**:**
    
    function code goes here

### Question 7

Define a function with name **sum_3** which can take 3 numbers as input, and returns sum of them.

In [17]:
def my_function(c,a,b):
  your_func = c + a +b
  return your_func


my_function (10, 65,5)

80

In [9]:
def sum_3(a,b,c):
  d = a+b+c
  return d

In [10]:
sum_3(9,5,4)

18

### Lambda Functions

Anonymous functions or no name functions, which can be considered when you use a function only once.

**Example:**

f = lambda x, y : x + y

f(1,1)

2

### Question 8

Write the same above **sum_3** function using lambda.

In [13]:
my_lambda = lambda x,y,z: x + y +z
my_lambda (9,5,4)

18

In [15]:
z = lambda a,b,c : a+b+c
z (8,5,32)

45

In [16]:
dochee = lambda v,b,c: v*b/c
dochee(9,5,5)

9.0

### List Comprehension:

List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

For example, assume we want to create a list of squares, like:

In [19]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Question 9:
Convert the elements (which are integers) of the above list "squares", to string type using list comprehension:

In [21]:
L = [1, 2, 3, 4, 5]                             # list of integers from 1 to 5

# Converting integers to string                 # this style of handling lists is known as list comprehension
L = [str(c) for c in L]

### Question 10:
Check the data-type of each element of the list using list comprehension:

In [22]:
# List comprehension offers a versatile way to handle list manipulations tasks easily.

[type(item) for item in L]

[str, str, str, str, str]

In [25]:
the_list = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

the_list = [str(x) for x in the_list]

[type(item) for item in the_list]

[str, str, str, str, str, str, str, str, str, str]