# Pandas

We have seen Numpy in the last section. It is good at performing math operation on 2d-arrays of numbers. But the major drawback is, it cannot deal with heterogenous values. So, Pandas dataframes are helpful in that aspect for storing different data types and referring the values like a dict in python instead of just referring each item with index.

[Link to Official Documentation](http://pandas.pydata.org/pandas-docs/version/0.23/dsintro.html)

## Series

Pandas series are almost same as nd arrays in numpy, with a additional inferencing ability with custom labels like *keys* in a *dictionary* in python.

In [17]:
import numpy as np
import pandas as pd

In [19]:
#Example

series2 = pd.Series(data = [1,2,3, 4, 5], index = ['key1', 'key2', 'key3', 'key4', 'key5'])
series2

key1    1
key2    2
key3    3
key4    4
key5    5
dtype: int64

### Question 1

Convert a given dict to pd series.

[**Hint:** Use **.Series**]

In [20]:
pract_dict = {'SQL':0, 'Python': 1, 'Solidity': 2, 'JS': 3, 'R3 Corda': 5}
I_makeSeries = pd.Series(pract_dict)
print(I_makeSeries)

SQL         0
Python      1
Solidity    2
JS          3
R3 Corda    5
dtype: int64

In [21]:
my_dic = {'Daddy': 1, 'Mommy': 2, 'elliE': 3}
my_series = pd.Series(my_dic)
my_series

Daddy    1
Mommy    2
elliE    3
dtype: int64

You can directly use numpy functions on series.
### Question 2

Find the dot product of both the series create above


[ **Hint:** Use **np.dot()** ]

In [22]:
np.dot(I_makeSeries, series2 )

45

## Dataframes

A dataframe is a table with labeled columns which can hold different types of data in each column.

In [23]:
# Example
d1 = {'a': [1,2,3], 'b': [3,4,5], 'c':[6,7,8] }
df1 = pd.DataFrame(d1)
df1

   a  b  c
0  1  3  6
1  2  4  7
2  3  5  8

### Question 3

Select second row in the above dataframe df1.

In [65]:
df1.loc[[1,]] # selects row=1 and all columns of df1

   a  b  c
1  2  4  7

In [66]:
df1.loc[[0,]] #additional practice

   a  b  c
0  1  3  6

### Question 4

Select column c in second row of df1.

[ **Hint:** For using labels use **df.loc[row, column]**. For using numeric indexed use **df.iloc[]**. For using mixture of numeric indexes and labels use **df.ix[row, column]** ]

In [34]:
# Example
d1 = {'a': [1,2,3], 'b': [3,4,5], 'c':[6,7,8] }
df1 = pd.DataFrame(d1)
df1

   a  b  c
0  1  3  6
1  2  4  7
2  3  5  8

In [33]:
df1.loc[1, 'c']

7

## Using Dataframes on a dataset

##### Using the mtcars dataset.

For the below set of questions, we will be using the cars data from [Motor Trend Car Road Tests](http://stat.ethz.ch/R-manual/R-devel/library/datasets/html/mtcars.html)

The data was extracted from the 1974 Motor Trend US magazine, and comprises fuel consumption and 10 aspects of automobile design and performance for 32 automobiles (1973â€“74 models). 


Details :
    
A data frame with 32 observations on 11 (numeric) variables.

[, 1] 	mpg 	Miles/(US) gallon

[, 2] 	cyl 	Number of cylinders

[, 3] 	disp 	Displacement (cu.in.)

[, 4] 	hp 	Gross horsepower

[, 5] 	drat 	Rear axle ratio

[, 6] 	wt 	Weight (1000 lbs)

[, 7] 	qsec 	1/4 mile time

[, 8] 	vs 	Engine (0 = V-shaped, 1 = straight)

[, 9] 	am 	Transmission (0 = automatic, 1 = manual)

[,10] 	gear 	Number of forward gears

[,11] 	carb 	Number of carburetors

In [35]:
from google.colab import files
uploaded = files.upload()

Saving mtcars.csv to mtcars.csv

In [36]:
## Reading a dataset from a csv file using pandas.
mtcars = pd.read_csv('mtcars.csv')
mtcars.index = mtcars['name']

In [37]:
mtcars.head()

                                name   mpg  cyl   disp  ...  vs  am  gear  carb
name                                                    ...
Mazda RX4                  Mazda RX4  21.0    6  160.0  ...   0   1     4     4
Mazda RX4 Wag          Mazda RX4 Wag  21.0    6  160.0  ...   0   1     4     4
Datsun 710                Datsun 710  22.8    4  108.0  ...   1   1     4     1
Hornet 4 Drive        Hornet 4 Drive  21.4    6  258.0  ...   1   0     3     1
Hornet Sportabout  Hornet Sportabout  18.7    8  360.0  ...   0   0     3     2

[5 rows x 12 columns]

In [38]:
mtcars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, Mazda RX4 to Volvo 142E
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 4.5+ KB

Following questions are based on analysing a particular dataset using dataframes.

### Question 5

Check the type and dimensions of given dataset - mtcars.


[ **Hint: ** Use **type()** and **df.shape** ]

In [39]:
mtcars.shape

(32, 12)

In [44]:
mtcars.dtypes

name     object
mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

### Question 6

Check the first 10 lines and last 10 lines of the given dataset- mtcars.

[**Hint:** Use **.head()** and **.tail()**]

In [47]:
mtcars.head()

                                name   mpg  cyl   disp  ...  vs  am  gear  carb
name                                                    ...
Mazda RX4                  Mazda RX4  21.0    6  160.0  ...   0   1     4     4
Mazda RX4 Wag          Mazda RX4 Wag  21.0    6  160.0  ...   0   1     4     4
Datsun 710                Datsun 710  22.8    4  108.0  ...   1   1     4     1
Hornet 4 Drive        Hornet 4 Drive  21.4    6  258.0  ...   1   0     3     1
Hornet Sportabout  Hornet Sportabout  18.7    8  360.0  ...   0   0     3     2

[5 rows x 12 columns]

In [46]:
mtcars.tail()

                          name   mpg  cyl   disp   hp  ...  qsec  vs  am  gear  carb
name                                                   ...
Lotus Europa      Lotus Europa  30.4    4   95.1  113  ...  16.9   1   1     5     2
Ford Pantera L  Ford Pantera L  15.8    8  351.0  264  ...  14.5   0   1     5     4
Ferrari Dino      Ferrari Dino  19.7    6  145.0  175  ...  15.5   0   1     5     6
Maserati Bora    Maserati Bora  15.0    8  301.0  335  ...  14.6   0   1     5     8
Volvo 142E          Volvo 142E  21.4    4  121.0  109  ...  18.6   1   1     4     2

[5 rows x 12 columns]

### Question 7

Print all the column labels in the given dataset - mtcars.

[ **Hint: ** Use **df.columns** ]

In [48]:
mtcars.columns

Index(['name', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

### Question 8

Select first 6 rows and 3 columns in mtcars dataframe.

**Hint: **  
mtcars.iloc[:,:] gives all rows and columns in the dataset.

In [68]:
mtcars.iloc[:6, :3]

                                name   mpg  cyl
name
Mazda RX4                  Mazda RX4  21.0    6
Mazda RX4 Wag          Mazda RX4 Wag  21.0    6
Datsun 710                Datsun 710  22.8    4
Hornet 4 Drive        Hornet 4 Drive  21.4    6
Hornet Sportabout  Hornet Sportabout  18.7    8
Valiant                      Valiant  18.1    6

### Question 9

Select rows from name **Mazda RX4** to **Valiant** in the mtcars dataset and display only mpg and cyl values of those cars. 

**Hint:** Use df **.iloc[rows,columns]**

In [55]:
mtcars.head(8)

                                name   mpg  cyl   disp  ...  vs  am  gear  carb
name                                                    ...
Mazda RX4                  Mazda RX4  21.0    6  160.0  ...   0   1     4     4
Mazda RX4 Wag          Mazda RX4 Wag  21.0    6  160.0  ...   0   1     4     4
Datsun 710                Datsun 710  22.8    4  108.0  ...   1   1     4     1
Hornet 4 Drive        Hornet 4 Drive  21.4    6  258.0  ...   1   0     3     1
Hornet Sportabout  Hornet Sportabout  18.7    8  360.0  ...   0   0     3     2
Valiant                      Valiant  18.1    6  225.0  ...   1   0     3     1
Duster 360                Duster 360  14.3    8  360.0  ...   0   0     3     4
Merc 240D                  Merc 240D  24.4    4  146.7  ...   1   0     4     2

[8 rows x 12 columns]

In [59]:
mtcars.iloc[0:6, 1:3]

                    mpg  cyl
name
Mazda RX4          21.0    6
Mazda RX4 Wag      21.0    6
Datsun 710         22.8    4
Hornet 4 Drive     21.4    6
Hornet Sportabout  18.7    8
Valiant            18.1    6

### Question 10

- Sort the dataframe by mpg (i.e. miles/gallon).
- Hint: Use sort_values() function.

In [64]:
mtcars.sort_values(by=['mpg'], ascending=False, inplace=False)

                                    name   mpg  cyl   disp  ...  vs  am  gear  carb
name                                                        ...
Toyota Corolla            Toyota Corolla  33.9    4   71.1  ...   1   1     4     1
Fiat 128                        Fiat 128  32.4    4   78.7  ...   1   1     4     1
Lotus Europa                Lotus Europa  30.4    4   95.1  ...   1   1     5     2
Honda Civic                  Honda Civic  30.4    4   75.7  ...   1   1     4     2
Fiat X1-9                      Fiat X1-9  27.3    4   79.0  ...   1   1     4     1
Porsche 914-2              Porsche 914-2  26.0    4  120.3  ...   0   1     5     2
Merc 240D                      Merc 240D  24.4    4  146.7  ...   1   0     4     2
Datsun 710                    Datsun 710  22.8    4  108.0  ...   1   1     4     1
Merc 230                        Merc 230  22.8    4  140.8  ...   1   0     4     2
Toyota Corona              Toyota Corona  21.5    4  120.1  ...   1   0     3     1
Volvo 142E                    Volvo 142E  21.4    4  121.0  ...   1   1     4     2
Hornet 4 Drive            Hornet 4 Drive  21.4    6  258.0  ...   1   0     3     1
Mazda RX4 Wag              Mazda RX4 Wag  21.0    6  160.0  ...   0   1     4     4
Mazda RX4                      Mazda RX4  21.0    6  160.0  ...   0   1     4     4
Ferrari Dino                Ferrari Dino  19.7    6  145.0  ...   0   1     5     6
Merc 280                        Merc 280  19.2    6  167.6  ...   1   0     4     4
Pontiac Firebird        Pontiac Firebird  19.2    8  400.0  ...   0   0     3     2
Hornet Sportabout      Hornet Sportabout  18.7    8  360.0  ...   0   0     3     2
Valiant                          Valiant  18.1    6  225.0  ...   1   0     3     1
Merc 280C                      Merc 280C  17.8    6  167.6  ...   1   0     4     4
Merc 450SL                    Merc 450SL  17.3    8  275.8  ...   0   0     3     3
Merc 450SE                    Merc 450SE  16.4    8  275.8  ...   0   0     3     3
Ford Pantera L            Ford Pantera L  15.8    8  351.0  ...   0   1     5     4
Dodge Challenger        Dodge Challenger  15.5    8  318.0  ...   0   0     3     2
Merc 450SLC                  Merc 450SLC  15.2    8  275.8  ...   0   0     3     3
AMC Javelin                  AMC Javelin  15.2    8  304.0  ...   0   0     3     2
Maserati Bora              Maserati Bora  15.0    8  301.0  ...   0   1     5     8
Chrysler Imperial      Chrysler Imperial  14.7    8  440.0  ...   0   0     3     4
Duster 360                    Duster 360  14.3    8  360.0  ...   0   0     3     4
Camaro Z28                    Camaro Z28  13.3    8  350.0  ...   0   0     3     4
Lincoln Continental  Lincoln Continental  10.4    8  460.0  ...   0   0     3     4
Cadillac Fleetwood    Cadillac Fleetwood  10.4    8  472.0  ...   0   0     3     4

[32 rows x 12 columns]

In [61]:
mtcars['mpg'].sort_values(ascending=False, inplace=False)

name
Toyota Corolla         33.9
Fiat 128               32.4
Honda Civic            30.4
Lotus Europa           30.4
Fiat X1-9              27.3
Porsche 914-2          26.0
Merc 240D              24.4
Datsun 710             22.8
Merc 230               22.8
Toyota Corona          21.5
Volvo 142E             21.4
Hornet 4 Drive         21.4
Mazda RX4 Wag          21.0
Mazda RX4              21.0
Ferrari Dino           19.7
Pontiac Firebird       19.2
Merc 280               19.2
Hornet Sportabout      18.7
Valiant                18.1
Merc 280C              17.8
Merc 450SL             17.3
Merc 450SE             16.4
Ford Pantera L         15.8
Dodge Challenger       15.5
AMC Javelin            15.2
Merc 450SLC            15.2
Maserati Bora          15.0
Chrysler Imperial      14.7
Duster 360             14.3
Camaro Z28             13.3
Cadillac Fleetwood     10.4
Lincoln Continental    10.4
Name: mpg, dtype: float64